ONEC_BASE_URL=http://135.181.220.43
ONEC_SERVICE_PATH=/Proffart_hrm/hs/datatransfer
ONEC_AUTH_SECRET=g18rVb8hjqujgOdubhsD5LEaM12q7ZgPGoNcL1JkLPhffFG6oY
ONEC_TIMEOUT_SECONDS=20
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173